#htag{
    text-align: center;
}
tr{
    margin-top: 2px;
    margin-bottom: 2px;;
}
 table {
        border-collapse: separate;
        border-spacing: 0 12px; /* horizontal = 0, vertical = 12px */
    }